<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.csf.deacero">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:tag="Deacero"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NuevoUsuario"></activity>
        <activity android:name=".ParseaObjetoArreglo" />
        <activity android:name=".ParseaArregloJSON" />
        <activity android:name=".Prueba" />
        <activity android:name=".Entrada" />
        <activity android:name=".Test"/>
        <activity
            android:name=".Menu_Graficas"
            android:label="@string/title_activity_menu__graficas"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>